*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    background-color: rgb(4, 87, 87);
    height: 60px;
    border-radius: 5px;
    
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    text-transform: uppercase;
}
.inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-transform: uppercase;
    margin-right: 30px;
    
}
.inner a{
text-decoration: none;
color: white;
font-weight: 400;
font-size: 20px;
}
/* property*/
h1{
    color: royalblue;
    background-color: black;
    font-size: 100px;
    font-family:  sans-serif;
    font-style: italic;
    text-align: center;
}